{% extends 'base.html.twig' %}

{% block title %}Post
{% endblock %}

{% block body %}
	<div class="d-flex flex-column justify-content-center align-items-center">
		<h4>{{post.title}}</h4>
		<img src={{post.image}} alt="">
		<p>
			{{post.content}}
		</p>
	</div>
{% endblock %}