{% extends 'base.html.twig' %}

{% block title %}Posts
{% endblock %}

{% block body %}
	<h1>POSTS</h1>
	{# pour chaque post, afficher les éléments ci-dessous #}
	{% for value in posts %}
		<a href={{ path('app_post_id', {'id': value.id} ) }}>
			<h4>{{value.title}}</h4>
			<img src={{value.image}} alt="">
			<p>
				{{value.content}}
			</p>
		</a>
	{% endfor %}
{% endblock %}